{% extends 'base.html.twig' %}

{% block title %}Mes contacts{% endblock %}

{% block body %}
<style>
.inscription{
  color:white;
  padding-left: 50px;
  margin-top: 20px;
  
  
  

}
.gauche{
  color:white;
  padding-left: 50px;
  margin-top: 20px;

}
.droite{
  color:white;
  padding-left: 50px;
  margin-top: 20px

} 


</style>
 <form action="image du site/CV.pdf" target="_blank">

		<h2 class="inscription">FORMULAIRE</h2>

		<div>

        <label for="nom" class="gauche">Last Name</label>

        <input type="text" name="nom" id="nom" required>

		</div>

		<div>

			<label for="prenom" class="droite">First Name</label>

			<input type="text" name="prenom" id="prenom" required>

		</div>	

		<div>

			<label for="email" class="droite"> Email </label>

			<input type="text" name="email" id="email" placeholder="example123@gmail.com" required>



		</div>

  <input type="submit">

 </form>


    
{% endblock %}
