{% extends 'base.html.twig' %}


{% block title %}Mon portfolio{% endblock %}

{% block body %}

<style>
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 90%;
}
.list-unstyled{
  color:white;

}
.col-sm-3{
  color:white;

}
.col-sm-12{
  color:white;

}
.col-sm-6{
    color:white;


}
.col-sm-5{
    color:white;


}
.entete{
    color:white;
    padding-left: 50px;

}
.div1{
    color:white;
    padding-left: 50px;
}




</style>

      <h1 class="entete">MES POINTS FORT</h1><br>

      <div class="div1">
          <h2>FORMATION</h2>
          <ul>
            <li>DIPLOME BACCALAUREAT SCIENTIFIQUE</li><br>
            <li>INFORMATIQUE RESEAU ET TELECOMMUNICATION</li>
          
          </ul>

      </div><br><br>




   
   
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <h4>Contact</h4>
                <ul class="list-unstyled">
                    <li>Address:21 rue jean jaures ,Roanne</li>
                    <li>Phone: 555-555-5555</li>
                    <li>Email: <a href="insa.coly@etu.univ-st-etienne.fr">insa.coly@etu.univ-st-etienne.fr</a></li>
                </ul>
            </div>
            <div class="col-sm-6">
                <h4>suivez moi sur mes réseaux sociaux</h4>
                <ul class="list-unstyled list-inline"> 
                    <li><a href="#"><i class="fab fa-twitter">twitter</i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin"></i>linkedin</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p>Copyright &copy; 2022-2023 R&T | All Rights Reserved</p>
                </div>
            </div>
        </div>
    </div>
</footer> 
    

{% endblock %}